.idea/
__pycache__/
.DS_Store
build/*
dist/*
MANIFEST
model/wormhole_random_forest_basic_v2.joblib
model/wormhole_random_forest_v2.joblib
data/sim_training/*
data/sim_testing/*
data/sat_training/*
data/sat_testing/*
model/wormhole_20222003194621.joblib
model/*
data/ready_for_testing/*
